html,
body {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
}
*,
nav,
div {
	-webkit-box-sizing: inherit;
		-moz-box-sizing: inherit;
			box-sizing: inherit;
}
html,
body {
	scroll-behavior: smooth;
	background: #000;
	display: block;
	padding: 0 0;
	border: none;
	margin: 0 0;
}
nav,
div,
ul,
ol,
h1,
h2,
h3,
h4,
p {
	display: block;
	padding: 0 0;
	border: none;
	margin: 0 0;
}
.body {
	width: 100%;
	display: block;
	padding: 0 0;
	border: none;
	margin: 0 0;
}
.wrapper {
	width: 100%;
	max-width: calc(100vw - 8vw);
	border: 0.2vw solid #666;
	border-radius: 1vw;
	margin: 1.2% auto;
	background: #111;
	padding: 0.4vw;
}
.between {
	width: 100%;
	height: 100%;
	display: block;
	background: #333;
	padding: 2vw 4vw;
}
.container{
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
}
.container>input[type="radio"] {
	display: none;
	height: 0;
}
